<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Klevu\Search\Plugin\Admin\System\Config\Form\Field\DisableFieldPlugin">
        <arguments>
            <argument name="fieldsToDisable" xsi:type="array">
                <item name="klevu_search_categorylanding_enabledcategorynavigation" xsi:type="const">Klevu\Search\Service\Account\Model\AccountFeatures::PM_FEATUREFLAG_CATEGORY_NAVIGATION</item>
                <item name="klevu_integration_next_steps_enabledcategorynavigation" xsi:type="const">Klevu\Search\Service\Account\Model\AccountFeatures::PM_FEATUREFLAG_CATEGORY_NAVIGATION</item>
            </argument>
        </arguments>
    </type>
</config>
