<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Klevu\Search\Service\Admin\System\Config\Form\Field\RenderAction\DisableFieldIfFeatureUnavailable">
        <arguments>
            <argument name="fieldToFeatureMap" xsi:type="array">
                <item name="klevu_search_categorylanding_enabledcategorynavigation" xsi:type="const">Klevu\Search\Service\Account\Model\AccountFeatures::PM_FEATUREFLAG_CATEGORY_NAVIGATION</item>
                <item name="klevu_integration_next_steps_enabledcategorynavigation" xsi:type="const">Klevu\Search\Service\Account\Model\AccountFeatures::PM_FEATUREFLAG_CATEGORY_NAVIGATION</item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Search\Service\Admin\System\Config\Form\Field\RenderAction\UpdateConfigValueIfFeatureUnavailable">
        <arguments>
            <argument name="logger" xsi:type="object">Klevu\Search\Logger\Logger\Search</argument>
            <argument name="fieldUpdateConfig" xsi:type="array">
                <item name="klevu_search_categorylanding_enabledcategorynavigation_10_pl" xsi:type="array">
                    <item name="element_id" xsi:type="string">klevu_search_categorylanding_enabledcategorynavigation</item>
                    <item name="feature" xsi:type="const">Klevu\Search\Service\Account\Model\AccountFeatures::PM_FEATUREFLAG_PRESERVES_LAYOUT</item>
                    <item name="value" xsi:type="const">Klevu\Categorynavigation\Model\System\Config\Source\Categorylandingoptions::MAGENTO_DEFAULT</item>
                    <item name="allowed_values" xsi:type="array">
                        <item name="klevu_theme" xsi:type="const">Klevu\Categorynavigation\Model\System\Config\Source\Categorylandingoptions::KLEVU_TEMPLATE_LAYOUT</item>
                    </item>
                </item>
                <item name="klevu_search_categorylanding_enabledcategorynavigation_20_catnav" xsi:type="array">
                    <item name="element_id" xsi:type="string">klevu_search_categorylanding_enabledcategorynavigation</item>
                    <item name="feature" xsi:type="const">Klevu\Search\Service\Account\Model\AccountFeatures::PM_FEATUREFLAG_CATEGORY_NAVIGATION</item>
                    <item name="value" xsi:type="const">Klevu\Categorynavigation\Model\System\Config\Source\Categorylandingoptions::MAGENTO_DEFAULT</item>
                </item>
                <item name="klevu_integration_next_steps_enabledcategorynavigation_10_pl" xsi:type="array">
                    <item name="element_id" xsi:type="string">klevu_integration_next_steps_enabledcategorynavigation</item>
                    <item name="feature" xsi:type="const">Klevu\Search\Service\Account\Model\AccountFeatures::PM_FEATUREFLAG_PRESERVES_LAYOUT</item>
                    <item name="value" xsi:type="const">Klevu\Categorynavigation\Model\System\Config\Source\Categorylandingoptions::MAGENTO_DEFAULT</item>
                    <item name="allowed_values" xsi:type="array">
                        <item name="klevu_theme" xsi:type="const">Klevu\Categorynavigation\Model\System\Config\Source\Categorylandingoptions::KLEVU_TEMPLATE_LAYOUT</item>
                    </item>
                </item>
                <item name="klevu_integration_next_steps_enabledcategorynavigation_20_catnav" xsi:type="array">
                    <item name="element_id" xsi:type="string">klevu_integration_next_steps_enabledcategorynavigation</item>
                    <item name="feature" xsi:type="const">Klevu\Search\Service\Account\Model\AccountFeatures::PM_FEATUREFLAG_CATEGORY_NAVIGATION</item>
                    <item name="value" xsi:type="const">Klevu\Categorynavigation\Model\System\Config\Source\Categorylandingoptions::MAGENTO_DEFAULT</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Search\Service\Admin\System\Config\Form\Field\RenderAction\RemovePreserveLayoutFromComment">
        <arguments>
            <argument name="fieldIds" xsi:type="array">
                <item name="klevu_search_categorylanding_enabledcategorynavigation" xsi:type="string">klevu_search_categorylanding_enabledcategorynavigation</item>
                <item name="klevu_integration_next_steps_enabledcategorynavigation" xsi:type="string">klevu_integration_next_steps_enabledcategorynavigation</item>
            </argument>
        </arguments>
    </type>

    <type name="Klevu\Search\Service\Admin\System\Config\Form\Field\RenderAction\RemoveFieldIfFeatureUnavailable">
        <arguments>
            <argument name="fieldToFeatureMap" xsi:type="array">
                <item name="klevu_search_categorylanding_max_no_of_products" xsi:type="const">Klevu\Search\Service\Account\Model\AccountFeatures::PM_FEATUREFLAG_PRESERVES_LAYOUT</item>
                <item name="klevu_search_categorylanding_klevu_cat_relevance" xsi:type="const">Klevu\Search\Service\Account\Model\AccountFeatures::PM_FEATUREFLAG_PRESERVES_LAYOUT</item>
                <item name="klevu_search_categorylanding_relevance_label" xsi:type="const">Klevu\Search\Service\Account\Model\AccountFeatures::PM_FEATUREFLAG_PRESERVES_LAYOUT</item>
            </argument>
        </arguments>
    </type>
</config>
