<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
        <section id="klevu_integration">
            <group id="next_steps">
                <field id="enabledcategorynavigation" translate="label" sortOrder="20" type="select" showInDefault="1"
                       showInWebsite="1" showInStore="1" extends="klevu_search/categorylanding/enabledcategorynavigation">
                    <label>Enable Smart Category Merchandising</label>
                    <config_path>klevu_search/categorylanding/enabledcategorynavigation</config_path>
                    <frontend_model>Klevu\Categorynavigation\Block\Adminhtml\Form\Nextsteps\CatNavEnabled</frontend_model>
                </field>
            </group>
            <group id="endpoints">
                <field id="category_navigation_url" translate="label comment" sortOrder="60" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Category Navigation URL</label>
                    <config_path>klevu_search/general/category_navigation_url</config_path>
                    <comment><![CDATA[The Category Navigation URL is used for getting Klevu's category Search Result.]]></comment>
                </field>
                <field id="category_navigation_tracking_url" translate="label comment" sortOrder="70" showInDefault="0" showInWebsite="0" showInStore="1">
                    <label>Category Navigation Tracking URL</label>
                    <config_path>klevu_search/general/category_navigation_tracking_url</config_path>
                    <comment><![CDATA[The Category Navigation Tracking URL is used for getting Klevu's category Search Result.]]></comment>
                </field>
            </group>
        </section>
        <section id="klevu_search" translate="label">
			<group id="categorylanding" translate="label" sortOrder="104" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Smart Category Page Navigation</label>
				<field id="enabledcategorynavigation" translate="label" sortOrder="100" type="select" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Ordering &amp; Rendering</label>
					<comment><![CDATA[
<strong>Native:</strong> Klevu will be disabled, and will not power the rendering or result ordering of your category pages.<br />
<strong>Klevu JS Theme:</strong> Use Klevu's JavaScript Theme to render and order the results of your category pages. Recommended for best results.<br />
<strong>Preserve your Magento layout:</strong> Klevu will control the ordering of results, but Magento will render your category pages.
]]></comment>
					<source_model>Klevu\Categorynavigation\Model\System\Config\Source\Categorylandingoptions</source_model>
				</field>
				<field id="max_no_of_products" translate="label comment" sortOrder="101" showInDefault="0" showInWebsite="0" showInStore="1">
					<label>Maximum Number Of Products Per Category</label>
					<comment><![CDATA[This value can be upto 4000.]]></comment>
				</field>
				<field id="klevu_cat_relevance" translate="label" type="select" sortOrder="121" showInDefault="0" showInWebsite="0" showInStore="1">
					<label>Sort by Klevu Relevance</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment><![CDATA[When option <strong>Klevu Powered - Preserve Theme Layout</strong> is selected.]]></comment>
				</field>
				<field id="relevance_label" translate="label" type="text" sortOrder="122" showInDefault="1" showInStore="1">
					<label>Category Pages Relevance Label</label>
					<validate>required-entry</validate>
					<comment><![CDATA[On the category pages, text label will be shown in the sorting drop-down.<br /> Default label will be as <strong>Relevance</strong>.]]></comment>
				</field>
			</group>
			<group id="developer" translate="label comment" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
				<field id="lazyload_js_catnav" translate="label comment" type="select" sortOrder="513" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Lazy-load Category Page JavaScript</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[
                            Lazy-loads JavaScript for Smart Category Merchandising pages to prevent render blocking
                            scripts on page load.
                            Please do not modify this unless you have read and understood the following guide:
                            <a href="https://help.klevu.com/support/solutions/articles/5000877463-lazy-load-jsv2-theme-scripts" target="_blank">Lazy-Load JSv2 Theme Scripts</a>.
                        ]]>
                    </comment>
					<depends>
						<field id="theme_version">v2</field>
					</depends>
				</field>
                <field id="content_min_height_catnav" translate="label comment" type="text" sortOrder="522" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum Height for Category Page Content</label>
                    <comment>
                        <![CDATA[
                            Sets a minimum height for the product list content on Smart Category Merchandising Pages, which
                            can help reduce cumulative layout shift. For more information and recommended settings,
                            please read the following guide:
                            <a href="https://help.klevu.com/support/solutions/articles/5000877616-minimum-height-for-product-results-content" target="_blank">Minimum Height for Product Results Content</a>
                        ]]>
                    </comment>
                    <validate>integer</validate>
                    <depends>
                        <field id="theme_version">v2</field>
                    </depends>
                </field>
			</group>
		</section>
	</system>
</config>
